<ul>
  <%= for item <- @items do %>
    <li>
      <a href='<%= Routes.item_path(@conn, :show, item) %>'>
        <strong><%= item.title %></strong>
      </a> - <%= item.description %>
    </li>
  <% end %>
</ul>
